/**
 * Custom Style Option Framework
 */
 
#optionsframework .section.section-info {
	background: #f1f1f1;
	padding: 0;
	margin-top: 15px;
}
#optionsframework .section.section-info h4 {
	font-size: 14px;
	padding: 10px 12px;
	margin: 0;
}